language: node_js
node_js: '6'
install: npm install
script:
  - npm run test
  - npm run production
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < doc/coverage/report-lcov/lcov.info
addons:
  code_climate:
    repo_token: dea9dc02a3cdad3dc08060d45b43b0c01e8650d042ca230eb8956f7af8c7c305
branches:
  only:
    - master
deploy:
  provider: npm
  email: 'info@crazysquirrel.ru'
  api_key: '443206b0-d7ea-47eb-89ca-9ff2e6ec246b'
  skip_cleanup: true
  on:
    branch: master
